<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BookSearch</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
      </ul>

    </div>
  </div>

</nav>
<h1>Iniciar Sesión</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form class="form-inline" method="POST" action="/user/log">

  <div class="form-group">
        <div class="form-group">
      <input align="middle" type="text" name="id" class="form-control" placeholder="Correo Electrónico" required type="text">
      <input type="password" name="loginPassword" class="form-control" placeholder="Contraseña" required type="text"> 
      <input type="submit" class="btn btn-primary" value="Iniciar Sesìón">
    </div>
      <style>
      form { 
        margin: 0 auto; 
        width:250px;
      }
      h1 {
        margin-top: 190px;
        text-align: center;
      }
      div {text-align: center;}
      input {text-align: center;}

      .form-control {
          display: block;
          width: 100%;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.5;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          align-content: center;
      }
      .btn {
          display: inline-block;
          font-weight: 400;
          line-height: 1.5;
          color: #fff;
          text-align: center;
          text-decoration: none;
          vertical-align: middle;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      a.button {
          -webkit-appearance: button;
          -moz-appearance: button;
          appearance: button;

          text-decoration: none;
          color: initial;
      }
  </style>
</div>
  <a href="/user/reg" class="btn btn-primary">Registrarse</a>
</form>